/*
* Wpwisdm like system css
*/

.wpwisdm-btn{
    display: inline-block;
    width: 46%;
    padding: 20px;
    font-size: 20px;
    margin:0 2%;
    border:1px solid #cccccc;
    background: #f8f8f8;
    text-align: center;
    text-transform: uppercase;
    color: #444444;
    transition: 0.5s all;
}

.wpwisdm-btn:hover{
    text-decoration: none;
    color:inherit;
}

.wpwisdm-like-btn:hover{
    background: #2d8f58;
    color: #ffffff;
}
.wpwisdm-dislike-btn:hover{
    background: red;
    color: #ffffff;
}

.wpwisdm-ajax-response span {
    display: inline-block;
    margin: 10px;
    text-align: center;
    padding: 5px;
    width: 100%;
}
.wpwisdm-like-count-message {
    margin: 20px 1% 0 1%;
    font-size: 22px;
    text-align: center;
    width: 98%;
    display: inline-block;
    padding: 10px;
    border: 1px solid #cccccc;
}